body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
}

h1{
  color: red;

}
h2{
  color: blue;
  margin:20px 0px 10px 0px;
}
ul{
  margin:-10px 0px 0px 0px;
}
.cracco{
  margin:-20px 0px 0px 0px;
}
.rosso{
  color: red;
}
.ciccio{
  font-weight: bold;
}